- title "Avatars"

%table
  %tr
    %th Email
  - for avatar in @avatars
    %tr
      %td= h avatar.email
      %td= image_tag(avatar.avatar.url)
      %td= link_to 'Show', avatar
      %td= link_to 'Edit', edit_avatar_path(avatar)
      %td= link_to 'Destroy', avatar, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Avatar", new_avatar_path
